In [1]:
import pandas as pd
df = pd.read_csv('KaggleV2-May-2016.csv')

In [2]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [3]:
df.dropna()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [4]:
nominal = df[["Gender", "Age", "Scholarship", "Hipertension", "Diabetes", "Alcoholism", "Handcap", "SMS_received"]]

In [5]:
nominal

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,F,62,0,1,0,0,0,0
1,M,56,0,0,0,0,0,0
2,F,62,0,0,0,0,0,0
3,F,8,0,0,0,0,0,0
4,F,56,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...
110522,F,56,0,0,0,0,0,1
110523,F,51,0,0,0,0,0,1
110524,F,21,0,0,0,0,0,1
110525,F,38,0,0,0,0,0,1
110526,F,54,0,0,0,0,0,1

In [6]:
from sklearn.preprocessing import LabelEncoder
df["No-show", "Gender"] = LabelEncoder().fit_transform(df["No-show", "Gender"])

KeyError: ('No-show', 'Gender')

In [7]:
from sklearn.preprocessing import LabelEncoder
df["No-show"] = LabelEncoder().fit_transform(df["No-show"])

In [8]:
from sklearn.preprocessing import LabelEncoder
df["Gender"] = LabelEncoder().fit_transform(df["Gender"])

In [9]:
nominal = df[["Gender", "Age", "Scholarship", "Hipertension", "Diabetes", "Alcoholism", "Handcap", "SMS_received"]]

In [10]:
nominal

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,0,62,0,1,0,0,0,0
1,1,56,0,0,0,0,0,0
2,0,62,0,0,0,0,0,0
3,0,8,0,0,0,0,0,0
4,0,56,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...
110522,0,56,0,0,0,0,0,1
110523,0,51,0,0,0,0,0,1
110524,0,21,0,0,0,0,0,1
110525,0,38,0,0,0,0,0,1
110526,0,54,0,0,0,0,0,1

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x = nominal.iloc[:, 0:8].values

nominal.iloc[:, 0:8] = scaler.fit_transform(x)

C:\Users\smiry\AppData\Local\Temp\ipykernel_22372\4148743670.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nominal.iloc[:, 0:8] = scaler.fit_transform(x)

In [12]:
x

array([[ 0, 62,  0, ...,  0,  0,  0],
       [ 1, 56,  0, ...,  0,  0,  0],
       [ 0, 62,  0, ...,  0,  0,  0],
       ...,
       [ 0, 21,  0, ...,  0,  0,  1],
       [ 0, 38,  0, ...,  0,  0,  1],
       [ 0, 54,  0, ...,  0,  0,  1]], dtype=int64)

In [13]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x = nominal.iloc[:, 1:2].values

nominal.iloc[:, 1:2] = scaler.fit_transform(x)

C:\Users\smiry\AppData\Local\Temp\ipykernel_22372\1704812490.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nominal.iloc[:, 1:2] = scaler.fit_transform(x)

In [14]:
x

array([[ 1.07793239],
       [ 0.81830565],
       [ 1.07793239],
       ...,
       [-0.69618366],
       [ 0.03942544],
       [ 0.73176341]])

In [15]:
nominal = pd.concat([nominal, df["No-show"]], axis=1)

In [16]:
nominal

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,-0.733837,1.077932,-0.330112,2.017378,-0.278261,-0.177068,-0.137722,-0.687612,0
1,1.362701,0.818306,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
2,-0.733837,1.077932,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
3,-0.733837,-1.258708,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,-0.687612,0
4,-0.733837,0.818306,-0.330112,2.017378,3.593747,-0.177068,-0.137722,-0.687612,0
...,...,...,...,...,...,...,...,...,...
110522,-0.733837,0.818306,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,1.454309,0
110523,-0.733837,0.601950,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,1.454309,0
110524,-0.733837,-0.696184,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,1.454309,0
110525,-0.733837,0.039425,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,1.454309,0
110526,-0.733837,0.731763,-0.330112,-0.495693,-0.278261,-0.177068,-0.137722,1.454309,0

In [17]:
y = nominal["No-show"].values

x_columns = len(nominal.columns)

x = nominal.iloc[:, 0:x_columns].values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [18]:
X_validate, X_test, y_validate, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=0)

In [20]:
from sklearn.tree import DecisionTreeClassifier

model_tree = DecisionTreeClassifier(criterion="entropy", max_leaf_nodes=1000).fit(X_train, y_train)
y_pred_tree = model_tree.predict(X_test)

results = model_tree.score(X_test, y_test)

from sklearn.metrics import confusion_matrix, classification_report

print(confusion_matrix(y_test, y_pred_tree))
print(classification_report(y_test, y_pred_tree))

[[8892    0]
 [   0 2161]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      8892
           1       1.00      1.00      1.00      2161

    accuracy                           1.00     11053
   macro avg       1.00      1.00      1.00     11053
weighted avg       1.00      1.00      1.00     11053